<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nook.assessment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.nook.assessment.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nook.assessment.activity.RecommendActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.SchoolInfoActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.BasicInfoActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityAPage1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityBPage1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityCPage1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityCPage2"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityDPage1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityDPage2"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityDPage3"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityEPage1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityFPage1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityGPage1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityGPage2"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityUploadImage"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ActivityResult"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.SchoolListActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.SchoolDetailActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.nook.assessment.activity.ColumnActivity"
            android:windowSoftInputMode="stateHidden"></activity>

        <!--
            ATTENTION: This was auto-generated to add Google Play services to your project for
            App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version" />-->
    </application>
</manifest>